{% extends "base.html" %}

{% block content %}
        <div class="row">
        <div class="col-3">
            <h3>Menu</h3>
            <ul>
                <li><a href="form.html">Formularz</a></li>
                <li><a href="https://www.google.pl">Google</a></li>
                <li><a href="https://www.facebook.com/">Facebook</a></li>
            </ul>
        </div>
        <div class="col-9">
            <h1>Nagłówek</h1>
            <p>Lubie <div>koty</div></p>
            <div class="card" style="width: 18rem;">
                <img src="https://pliki.sadyogrody.pl/i/01/92/38/019238_620.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="https://facebook.com" class="btn btn-primary">Facebook</a>
                </div>
              </div>
            <!-- <a href="https://facebook.com">
            <img src="https://pliki.sadyogrody.pl/i/01/92/38/019238_620.jpg" title="Sok pomarańczowy">
            </a> -->
            <ol>
                <li>Punkt 1</li>
                <li>Punkt 2</li>
            </ol>
        </div>
        </div>
{% endblock content %}